@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  height: 100vh;
  background: #4e89ae;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

#header-container {
  margin-bottom: 20px;
  color: #a2d5f2;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-bottom: 20px;
}

#set-time-input {
  border: 1px solid black;
  border-radius: 3px;
  height: 30px;
  padding-left: 5px;
}

#set-time-button {
  padding: 0 10px;
  height: 30px;
  font-size: 1em;
  background-color: #43658b;
  border: 1px solid gray;
  color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px gray;
  cursor: pointer;
}

#timer-container {
  width: 300px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ed6663;
  color: #ed6663;
  border-radius: 10px;
}

#timer {
  font-size: 6rem;
  letter-spacing: 4px;
}

.timer-button {
  width: 120px;
  height: 40px;
  font-size: 1.2em;
  background-color: #43658b;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
}

#progress-bar-container {
  width: 500px;
  height: 40px;
  background-color: #a2d5f2;
  margin-top: 20px;
  border: 2px solid gray;
}

#progress-bar {
  background-color: #ffa372;
  width: 0;
  height: 100%;
}

@media (max-width: 400px){
  button {
    display: block;
  }
}